body {
  font-family: '微軟正黑體', Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}